@use '../mixins/responsive.scss' as *;

.about--show {
  position: fixed;
  background-color: rgba(69, 69, 69, 0.655);
  background-image: url('assets/images/bedge-grunge.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  display: none;
  &__container {
    position: relative;
    overflow: hidden;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 140px;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include responsive(tablet) {
      gap: 0rem;
      border-radius: 800px;
      height: 600px;
    }
    @include responsive(laptop) {
      border-radius: 900px;
      height: 700px;
    }
    @include responsive(desktop) {
      border-radius: 1000px;
      height: 1100px;
    }
  }
  &__title {
    // position: absolute;
    // top: 30px;
    width: 40%;
    height: 50px;

    @include responsive(tablet) {
      width: 40%;
      height: 100px;
    }
    @include responsive(laptop) {
      width: 50%;
      // top: 30px;
      height: 200px;
    }
    @include responsive(desktop) {
      width: 50%;
      // top: 100px;
    }

    &--image {
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__info {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    @include responsive(tablet) {
      height: 320px;
      width: 80%;
      gap: 1rem;
      flex-direction: row;
    }
    @include responsive(laptop) {
      height: 400px;
    }
    @include responsive(desktop) {
    }
  }
  &__image {
    width: 40%;
    padding: 0.5rem;
    @include responsive(tablet) {
      width: 60%;
    }
    @include responsive(laptop) {
      width: 70%;
    }
    @include responsive(desktop) {
      width: 80%;
    }
  }
  &__text {
    font-size: 0.7rem;
    width: 50%;

    @include responsive(tablet) {
      width: 60%;
      font-size: 1rem;
    }
    @include responsive(laptop) {
      font-size: 1.5rem;
    }
    @include responsive(desktop) {
      font-size: 2rem;
    }
  }
}
