.about--show {
  position: fixed;
  background-color: rgba(69, 69, 69, 0.655);
  background-image: url('assets/images/bedge-grunge.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  display: none;
  &__container {
    overflow: hidden;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 800px;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &__title {
    position: relative;
    top: 0;
    width: 70%;
    height: 230px;

    &--image {
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5rem;
    gap: 3rem;
  }
  &__image {
    width: 30%;
    height: 30%;
    background-color: black;
  }
  &__text {
    width: 40%;
    font-size: 1.5rem;
  }
}
