@use '../mixins/responsive.scss' as *;

.background {
  position: fixed;
  top: 0;
  height: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 55% 45%;
  // transform: scale(var(--scale));

  // @include responsive(desktop) {
  //   transform-origin: 33% 63%;
  // }

  &__first {
    background-image: url('/assets/images/bedge-grunge.png');

    background-color: var(--wall1);
  }
  &__second {
    background-image: url('/assets/images/bedge-grunge.png');
    background-color: var(--wall2);
  }
}
.tiles {
  position: absolute;
  bottom: 0;
  width: 55%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(72, 72, 72);

  &__tile {
    width: 100%;
    height: 150px;
    background-color: var(--tiles1);
    border: 1px solid rgb(49, 49, 49);
    border-radius: 0.5rem;
    background-image: url('/assets/images/buried.png');

    &--second {
      height: 180px;
      background-color: var(--tiles2);
    }
  }
  &--second {
    background-color: rgb(4, 4, 4);
    width: 45%;
  }
}
.background--night::after {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
}

.canvas {
  width: 100%;
  height: 75%;
}
