@use '../mixins/responsive.scss' as *;

.contact--show {
  position: fixed;
  background-color: rgba(69, 69, 69, 0.655);
  background-image: url('/assets/images/bedge-grunge.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  display: none;
  &__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    transform: rotate(-90deg);
    @include responsive(tablet) {
      transform: rotate(0deg);

      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  &__tickets {
    position: relative;
    display: flex;
    width: 240px;
    height: 160px;
    @include responsive(tablet) {
      top: -10px;
      width: 484px;
      height: 377px;
    }
    &--phone {
      position: relative;
      top: 10px;
      left: 30px;
      transform: rotate(-10deg);
      @include responsive(tablet) {
        position: relative;
        top: 30px;
        left: 70px;
      }
    }
  }
}
.sticker--animate {
  animation: shake infinite 0.4s;
  @keyframes shake {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
      transform: translate(0, 0) rotate(0deg);
    }
    75% {
      transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }
}
.sticker--tear {
  animation: tear forwards 0.3s;
  @keyframes tear {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
      transform: translate(0, 50px) rotate(-1deg);
    }
    75% {
      transform: translate(0px, 60px) rotate(-2deg);
    }
    100% {
      transform: translate(0, 70px) rotate(-3deg);
    }
  }
}
