.skills--show {
  position: fixed;
  background-color: rgba(69, 69, 69, 0.655);

  background-image: url('assets/images/bedge-grunge.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills {
  display: none;
  &__container {
    overflow: hidden;
    background-color: pink;
    border: 2px solid black;
    border-radius: 100px;
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
  }
  &__title {
    &--image {
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__info {
    line-height: 5rem;
    &--container {
      display: flex;
      width: 50%;
      justify-content: space-around;
      gap: 6rem;
    }
  }
  &__icons {
    display: flex;
    gap: 2rem;
  }
  &__icon {
    width: 100px;
  }
  &__title {
    font-size: 3rem;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
  }
}
