.works--show {
  position: fixed;
  background-color: rgba(69, 69, 69, 0.655);
  background-image: url('assets/images/bedge-grunge.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works {
  display: none;
  &__container {
    background-color: rgb(63, 207, 1);
    border: 5px solid black;
    border-radius: 10px;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
  }
  &__title {
    width: 70%;
    height: 230px;

    &--image {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.works__corner {
  background-color: rgb(63, 207, 1);
  width: 70%;
  height: 50%;
  transform: rotate(45deg);
}
