@use '../mixins/responsive.scss' as *;

.works--show {
  position: fixed;
  background-color: rgba(69, 69, 69, 0.655);
  background-image: url('assets/images/bedge-grunge.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works {
  display: none;
  &__container {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    @include responsive(laptop) {
      height: 600px;
    }
  }
}
