@use '../mixins/responsive.scss' as *;

.works--show {
  position: fixed;
  background-color: rgba(69, 69, 69, 0.655);
  background-image: url('assets/images/bedge-grunge.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works {
  display: none;
  &__figure {
    width: 100%;
    @include responsive(tablet) {
      width: 95%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__container {
    position: relative;
  }
  &__gallery {
    width: 90%;
    height: 50%;
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;

    overflow-y: scroll;
    overflow-x: hidden;
    gap: 5px;
    @include responsive(tablet) {
      width: 70%;
    }

    &__item {
      height: 150px;
      border: 2px solid black;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
