:root {
  --scale: 1;
  --wall1: rgb(241, 237, 216);
  --wall2: rgb(227, 208, 226);
  --tiles1: gray;
  --tiles2: rgb(160, 159, 159);
  --pipe: rgb(144, 143, 143);
  --pipe-before: rgb(128, 127, 127);
}

/* Variables SASS */
