:root {
  --scale: 1;
  --wall1: rgb(241, 237, 216);
  --wall2: rgb(227, 208, 226);
  --tiles1: gray;
  --tiles2: rgb(160, 159, 159);
  --pipe: gray;
  --pipe-before: rgb(115, 115, 115);
}

/* Variables SASS */
